/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";

body{
  background-color: #80D4F8;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #FF8900;
}
.hidden{
  opacity: 0;
}

h1{
  margin-top: 0;
}

.headerItems{
  background-color: #EAF7FD;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Baloo Paaji', cursive;
  color: #025579;
}

.headerItems h1 {
  display: inline;
}

.iconHeader{
  vertical-align: -8px;
}

.card .card-action{
  background-color: #EAF7FD !important;
}

.card .card-content{
  background-color: #EAF7FD;
}
