// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.headerItems{
  background-color: #EAF7FD;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Baloo Paaji', cursive;
  color: #025579;
}

.headerItems h1 {
  display: inline;
}

.iconHeader{
  vertical-align: -6px;
}

.card .card-action{
  background-color: #EAF7FD !important;
}

.card .card-content{
  background-color: #EAF7FD;
}
